nav
  ul
    li(ng-class="{ active: $state.includes('home') }")
      a(ui-sref="home.index") Home
    li(ng-class="{ active: $state.includes('builds') }")
      a(ui-sref="builds.index") Builds
    li(ng-class="{ active: $state.includes('dungeons') }")
      a(ui-sref="dungeons.index") Dungeons
