nav
  ul
    li(ng-class="{ active: $state.includes('home') }")
      a(ui-sref="home.index") Home
    li(ng-class="{ active: $state.includes('builds') }")
      a(ui-sref="builds.index") Builds
    li(ng-class="{ active: $state.includes('dungeons') }")
      a(ui-sref="dungeons.index") Dungeons

  .right
    ul
      li: a(ui-sref="auth.login") Login
      li: a.button(ui-sref="auth.register") Register
      li: button(ng-click="signOut()") logout
