$main-color = #e6865a;
$black = #1d1f2e;
$white = #fff;
$cream = #faf8f4;

$light-blue = #c3eaee;
$blue       = #60a9d7;
$dark-blue  = #4a5977;
$yellow     = #fee179;
$orange     = #f99070;
$red        = #f97a70;
$green      = #1ccc82;

$link-colors = {
  normal: $red,
  hover: darken($red, 20%)
}
