.builds {
  list-style-type: none;
  padding-left: 0;

  .build {
    position: relative;

    .vote {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      vertical-align: top;
      width: 40px;
    }

    .content {
      display: inline-block;
      margin-left: 40px;

      .title { }

      .stats {
        display: block;
      }
    }
  }

  .right { 
    position: absolute;
    right: 0;
    top: 0;
  }
}
