$stat-row {
  display: block;
  height: 1.8em;
  position: relative;
}

.builder {
  background: lighten($black, 5%);
  display: block;

  .columns {
    padding: 40px;
  }

  .stat {
    @extend $stat-row;
    box-shadow: 0 1px 0 rgba($cream, .2);

    .right {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .empty {
    @extend $stat-row;
  }
}
