.builds {
  list-style-type: none;

  .build {
    background: lighten($black, 5%);
    border-bottom: 1px solid $black;
    margin-top: 4px;
    position: relative;

    &:first-child { margin-top: 10px; }

    .vote {
      background: lighten($black, 2%);
      display: inline-block;
      height: 100%;
      padding-top: 16px;
      left: 0;
      vertical-align: middle;
      width: 80px;
      position: absolute;
    }

    .content {
      display: block;
      line-height: 1.2;
      margin-left: 80px;
      padding-left: 20px;

      .title {
        padding-top: 10px;
      }

      .stats {
        display: block;
        padding-bottom: 12px;
      }

      .comments {
        z-index: 10;
        font-size: 30px;
        padding-right: 20px;
        position: absolute;
        right: 0;
        top: 15px;
      }
    }
  }

  .right { 
    position: absolute;
    right: 0;
    top: 0;
  }
}
