triangle-color = $red;

.vote {
  position: relative;
  text-align: center;
  margin-top: -1.45em;
  top: 50%;

  &:after {
    @extend $pseudo-base;
    border: 10px solid transparent;
    border-top-color: triangle-color;
    top: 27px;
    left: 30px;
  }

  &:before {
    @extend $pseudo-base;
    border: 10px solid transparent;
    border-bottom-color: triangle-color;
    top: -15px;
    left: 30px;
  }
}
