doctype html
html
  head
    title ux-prototype
    link(rel='stylesheet' href='/assets/css/main.css')
  body
    include ./templates/navigation
    include ./templates/header

    .builder
      include ./templates/builder

    include ./templates/footer

    // script(src='/assets/js/vendor.js')
    // script(src='/assets/js/app.js')
