doctype html
html
  head
    title ux-prototype
    link(rel='stylesheet' href='/assets/css/main.css')
  body
    include ./shared/navigation
    include ./shared/header

    block content

    include ./shared/footer

    // script(src='/assets/js/vendor.js')
    // script(src='/assets/js/app.js')
