doctype html
html
  head
    title ux-prototype
    link(rel='stylesheet' href='/assets/css/main.css')
  body(ng-app="Bloodborne")
    main-navigation

    block content

    script(src='/assets/js/vendor.js')
    script(src='/app.min.js')
