ul.panel-list.dungeons
  li.item(ng-class="{'hover': hover}" ng-repeat="dungeon in dungeons" ui-sref="dungeons.show({id: dungeon.id})" ui-sref-active="active" ng-mouseover="hover = true" ng-mouseout="hover = false")
    .content
      .title {{dungeon.name}}
      .code {{dungeon.glyph}}

    .right
      .comments= random.random.number({min: 3, max: 80})
