mixin item-loop(max)
  - i = 0
  - count = random.random.number({min: 1, max: max})
  while i < count
    - item = random.hacker.adjective() + " " + random.hacker.ingverb() + " " + random.hacker.noun()
    +item(item)
    - i++

mixin item(item)
  li.item= item 

ul.panel-list.dungeons
  li.item(ng-repeat="dungeon in dungeons")
    .content
      .title
        a(ui-sref="dungeons.show({id: dungeon.id})") {{dungeon.name}}
      .code {{dungeon.glyph}}
      ul.items
        +item-loop(4)
    .right
      .comments= random.random.number({min: 3, max: 80})
