.stat
  label {{statName}}
  .right
    input.small-2(type="text" ng-value="statValue")
    div.ng-cloak(ng-hide="statValue == undefined" ng-cloak)
      button.down(ng-click="subtract(statKey)") -
      button.up(ng-click="add(statKey)") +

