mixin stat(abbr, name)
  span.stat
    span.label= abbr
    span.value {{build.#{name}}}

ul.panel-list.builds
  li.item(ng-repeat="build in builds" ui-sref="builds.show({id: build.id})" ui-sref-active="active")
    .left
      .vote {{build.vote}}
    .content
      .title {{build.name}}
      .comments {{ build.commentsCount }} comments
      .stats
        +stat("vit", "vitality")
        +stat("end", "endurance")
        +stat("str", "strength")
        +stat("ski", "skill")
        +stat("blood", "bloodtinge")
        +stat("arc", "arcane")
      // .summary
      //   p= random.lorem.paragraph()
  
    .right
